# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Build
build/
dist/

# Executáveis
*.exe

# Logs
*.log

# Ambiente
.env

# Jupyter
.ipynb_checkpoints/

# Resultados
results_k6.csv
k6_graphs/

# Sistema
.DS_Store
Thumbs.db

# Credenciais
credentials.json

results_k6.csv
uninstaller.exe
service-account.json
*.pem
